<h1 class="text-5xl font-bold text-gray-100 mb-2"><%= @blog_post.title %></h1>
<h5 class="text-lg text-gray-400 mb-4">author: <%= @blog_post.user.username %></h5>

<div class="text-xl bg-gray-800 border border-gray-700 p-4 rounded-lg mb-6">
  <%= markdown_no_script(@blog_post.body) %>
  
  <% if @blog_post.comments.present? %>
    <div class="mt-4 text-lg bg-gray-700 border border-gray-600 p-4 rounded-lg">
      <% @blog_post.comments.each do |comment| %>
        <div class="mb-2">
          <span class="font-bold text-gray-300"><%= comment.user.username %>:</span>
          <span class="text-gray-200"><%= comment.text %></span>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <%= render partial: "comments/form", locals: { blog_post: @blog_post, comment: @comment } if user_signed_in? %>
</div>

<div class="flex justify-between">
  <% if @blog_post.user == current_user or (user_signed_in? and current_user.id == 1) %>
    <%= button_to "Edit", edit_blog_post_path(@blog_post), method: :get, class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 transition" %>
    <%= button_to "Delete", @blog_post, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500 transition" %>
  <% end %>
</div>
